.row {
    
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
.row>* {

    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}
@media screen and (min-width: 992px){
    .insideRow {
        flex: 0 0 auto;
        width: 50%;
    }
 
}

@media screen and (max-width: 576px){
   .insideRow {
    margin-left: 0;

   }
}
 .imageWrap {
    padding-right: 30px;
}

.descriptionWrap {
    display: flex;
    align-items: center;
    height: 100%;
}
.descriptionWrap .descriptionContent {
    
    width: 100%;
}
.contentContainer .name {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 18px;
}
.contentContainer .subtitle {
    font-size: 24px;
    font-weight: 300;
    color: #fec544;
    margin-bottom: 18px;
}
*, :after, :before {
    box-sizing: border-box;
}
.contentContainer .aboutText * {

    margin-bottom: 18px;
}
@media screen and (min-width: 992px){
    .divider {
        height: 30px !important;
    }
}
.divider{
    height: 30px !important;
}
@media screen and (max-width: 991px){
.divider {
    height: 30px !important;
}
}
.listItem{
    
    margin-bottom: 14px;
    display: flex;
    padding-right: 40px;

}
.listItem p:nth-child(2){
    margin-left: 60px;

}
.listItem p:nth-child(1){
    width: 45px;
}



.downloadButton {
    background: #fec544 !important;
    color: #070D1B !important;
    font-size: 16px !important;
    margin-top: 15px;
 
    line-height: 1.5em !important;
    font-weight: 500 !important;
    padding: 25px 2.4em !important;
    outline: none;
    border: none;
    border-radius: 50px !important;
    min-width: 150px !important;
    transition: all 0.4s ease !important;
}
.downloadButton:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px #fec64450;
 
}




