.heading {
    text-align: center;
    position: relative;
    margin-top: -5px;
    margin-bottom: 41px;
    opacity: 0; /* Initially hidden */
  animation: revealContent 1s ease-in-out 1s forwards; /* Animation name, duration, delay */
}
@keyframes revealContent {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1; /* Fully revealed */
    }
    
  }
 

.heading .title {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fec544;
    position: relative;
    z-index: 10;
    letter-spacing: 1px;
}
.heading .title:before {
    content: "";
    position: absolute;
    background-color: #3f4551;
    width: 170px;
    height: 2px;
    bottom: -16px;
    left: 50%;
    transform: translate(-50%);
}
.heading .title:after {
    content: "";
    position: absolute;
    background-color: #fec544;
    width: 70px;
    height: 2px;
    bottom: -16px;
    left: 50%;
    transform: translate(-50%);
}
.heading .subtitle {
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    font-size: 90px;
    font-weight: 700;
    color: rgb(21 27 41 / 70%);
    
    margin: -17px 0 0;
    width: 100%;
}