.description{
    padding-bottom: 30px;
    padding-bottom: 20px;
}
.contact{
    font-size: large;
    font-weight: 600;
    padding-bottom: 5px;
}
.icons{
    width: 50px;
    height: 50px;
    border: 0.5px solid #3f4551 !important;
}
.icons:hover{

    background:#070d1b !important;
    border-color: #FEC544 !important;
    transition: all .4s ease !important;
}

.input {
    
    width: 100%;
    color: #a9adb8  !important;
    opacity: 80%;
    border: 1px solid #232935 !important;
    background-color: #101624 !important;

    border-radius: 7px !important;
    transition: all .4s ease !important;
}

.contactButton {
    background: #fec544 !important;
    color: #070D1B !important;
    font-size: 16px !important;
    margin-top: 15px;

    line-height: 1.5em !important;
    font-weight: 500 !important;
    padding: 25px 2.4em !important;
    outline: none;
    border: none;
    border-radius: 50px !important;
    min-width: 150px !important;
    transition: all 0.4s ease !important;
  }
  .contactButton:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px #fec64450;
  }
  