*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.4s ease-in-out 0s;
}

.card { 
  transition: all .4s ease;
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:2s;
  -moz-animation-duration:2s;
  animation-duration:2s;

  opacity: 100%;
  color:#FDFEFF !important

  }

  .card:hover{
    transform: scale(1.05) 
  }

.container .title {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 100%;

  margin: auto;
  overflow: hidden;
}

.content .overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .overlay {
  opacity: 1;
  z-index: 2;
  transform: scale(1.1);
}
.content:hover .contentImage {
  transform: scale(1.1);
  z-index: 1;
  transition: all 0.4s ease-in-out 0s;
}
.content:hover .overlay {
  opacity: 1;
}
.content:hover .details {
  z-index: 2;
}

.contentImage {
  width: 100%;
}
.content {
  position: relative;
}

.details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.fadeIn-bottom {
  top: 80%;
}

.fadeInTop {
  top: 20%;
}

.fadeIn-left {
  left: 20%;
}

.fadeInRight {
  left: 80%;
}

.projectDetails {
  position: relative;
  border-radius: 3px;
  transition: all 0.4s ease;
  background-color: #101624;
  padding: 30px 15px;
  border: 1px solid #232935;
  margin-bottom: 40px;
  margin-top: 40px;
}

.quote {
  position: absolute;
  top: 1px;
  left: 1px;
}
.projectDetails:after {
  /* content: ""; */
  position: absolute;
  width: 30px;
  height: 30px;
  left: 50%;
  bottom: -16px;
  border: 1px solid #232935;
  border-width: 0 1px 1px 0;
  background: #101624;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.4s ease;
}
