.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
.containerNavBar,
.containerNavBar-fluid,
.containerNavBar-lg,
.containerNavBar-md,
.containerNavBar-sm,
.containerNavBar-xl,
.containerNavBar-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.containerPortfolio
 {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.contactButton {
  background: #fec544 !important;
  color: #070D1B !important;
  font-size: 16px !important;
  margin-top: 15px;

  line-height: 1.5em !important;
  font-weight: 500 !important;
  padding: 25px 2.4em !important;
  outline: none;
  border: none;
  border-radius: 50px !important;
  min-width: 150px !important;
  transition: all 0.4s ease !important;

  opacity: 0;
  transform: translateY(100%);
  /* transition: opacity 0.5s cubic-bezier(0.42, 0, 0.58, 1), transform 0.5s cubic-bezier(0.42, 0, 0.58, 1); */

}
.contactButton:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px #fec64450;
}




.divider {
  height: 100px;
}
@media screen and (max-width: 992px) {
  .divider {
    height: 80px;
  }
}

@media screen and (min-width: 1745px) and (max-width: 1920px) {
  .container,
  .containerNavBar
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {

    max-width: 61%;
  }
  .containerPortfolio{
    max-width: 71%;
  }
}
@media screen and (min-width: 1570px) and (max-width: 1745px) {
    .container,
    .containerNavBar,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
  
      max-width: 70%;
    }
    .containerPortfolio{
      max-width: 60%;
    }
  }
  @media screen and (min-width: 1400px) and (max-width: 1570px) {
    .container,
    .containerNavBar,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
  
      max-width: 74%;
    }
    .containerPortfolio{
      max-width: 84%;
    }
  }
  

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .container, 
  .containerNavBar, .containerPortfolio {
    max-width: 1140px;
  }

}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .container,
  .containerNavBar,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 960px;
  }
  .containerPortfolio{
    max-width: 1000px;
  }
}
@media  screen and (min-width: 768px) and (max-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    width: 100%;

    max-width: 710px;
  }
  .containerNavBar{
    width: 100%; 
    max-width: 100%; 
  }
  .containerPortfolio{
    max-width: 810%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .container,
  .container-sm {
    width: 100%;

    max-width: 550px;
  }
  .containerNavBar{
    width: 100%; 
    max-width: 100%; 
  }
  .containerPortfolio{
    max-width: 650%;
  }
}
.divider2{
  height: 40px !important;
}
@media screen and (max-width: 991px){
.divider2 {
  height: 30px !important;
}
}



/* Define the initial state of the element */
.hello {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.5s cubic-bezier(0.42, 0, 0.58, 1), transform 0.5s cubic-bezier(0.42, 0, 0.58, 1);
}

.name {
  opacity: 0;
  transform: translateY(100%);
transition: opacity 0.5s cubic-bezier(0.42, 0, 0.58, 1), transform 0.5s cubic-bezier(0.42, 0, 0.58, 1);

}

/* Define the animation */
@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(60%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply the animation to the element when the 'animate' class is added */
.hello {
  animation: slideInFromBottom 1s cubic-bezier(0.42, 0, 0.58, 1) forwards;
}

.name {
  animation: slideInFromBottom 1s cubic-bezier(0.42, 0, 0.58, 1) forwards;
}
.title {
  animation: slideInFromBottom 1.5s cubic-bezier(0.42, 0, 0.58, 1) forwards;
}

.contactButton {
  /* animation: slideInFromBottom 4s cubic-bezier(0.42, 0, 0.58, 1) forwards; */
  animation: slideInFromBottom 1s ease-in-out 1s forwards;
}
