

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.card { 
    transition: all .4s ease;
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:2s;
    -moz-animation-duration:2s;
    animation-duration:2s;
    background-color: #101624 !important;
    opacity: 100%;
    color:#FDFEFF !important

    }
    
    .card:hover {
        transform: scale(1.1);
     box-shadow: 2px 2px 2px 2px #fec544;
     color: #fec544
  
   }

   .loadButton{
    padding-left: 37px !important;
    padding-right: 37px !important;
    padding-top:25px !important;
    padding-bottom:25px !important;
    background: #101624 !important;
    color:#FDFEFF !important;
    
  }
   .loadButton:hover{

 
    background: #FDFEFF !important;
    color:#0a101e !important;
    
  }

   .divider2{
    height: 30px !important;
}
@media screen and (max-width: 991px){
.divider2 {
    height: 30px !important;
}
}

.divider {
    height: 100px;
  }
  @media screen and (max-width: 991px) {
    .divider {
      height: 80px;
    }
  }




.span {
    translate: none;
    rotate: none;
    scale: none;
    transform: translate(-50%, -50%) translate(774px, 178px);
    width: 10px;
    height: 10px;
    background-color: #8e6f2b;
    left: 0;
    top: 0;
    pointer-events: none;
    position: fixed;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    mix-blend-mode: difference;
    z-index: 9999;

}


