

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.card { 
    transition: all .4s ease;
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:2s;
    -moz-animation-duration:2s;
    animation-duration:2s;

    }
    
    .card:hover{
        transform: scale(1.1);
     box-shadow: 3px 3px #fec64480;
     color: #fec544
  
   }

   .divider2{
    height: 30px !important;
}
@media screen and (max-width: 991px){
.divider2 {
    height: 30px !important;
}
}

.divider {
    height: 100px;
  }
  @media screen and (max-width: 991px) {
    .divider {
      height: 80px;
    }
  }


