
  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


body, html {
    color: #FDFEFF !important;
    background-color: #0a101e !important;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 400;

    scroll-behavior: smooth;
    
}
*{
    font-family: Inter,sans-serif;
}
